/* ESTILOS GENERALES */
* {

}

body {

}

/* WRAPPER */

.wrapper {

}

/* HEADER */

header {

}

h1 {

}

h1 a {

}

h1 a:hover {

}

/* MENÚ DE NAVEGACIÓN */

nav {

}

nav ul {

}

nav li {

}

nav a {

}

nav a:hover {

}

